<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.uhei.usingtoolbar">
    <!--
        android:theme="@style/AppTheme 改为
        android:theme="@style/Theme.AppCompat.Light.NoActionBar
        -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--添加一个Activity-->
        <activity android:name=".MainActivity"
            android:label="MainActivity">
            <!--启动标签-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--android:parentActivityName="cn.uhei.usingtoolbar.MainActivity" 指定父级
            android:name="android.support.PARENT_ACTIVITY" 指定父级
            android:value="cn.uhei.usingtoolbar.MainActivity"  指定父级

        -->

        <activity android:name=".OtherActivity"
            android:parentActivityName="cn.uhei.usingtoolbar.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.uhei.usingtoolbar.MainActivity"
                >

            </meta-data>
        </activity>


    </application>

</manifest>
